<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Retained for compatibility with the upstream RM75 launch entry points. -->
  <arg name="link7_type" default="Link7"/>
  <arg name="mount_xyz" default="0 0 0"/>
  <arg name="mount_rpy" default="0 1.5708 3.14159"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" 
  command="$(find xacro)/xacro $(find rm75_roh_description)/urdf/rm75_roh_a001_right.urdf.xacro mount_xyz:='$(arg mount_xyz)' mount_rpy:='$(arg mount_rpy)'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find rm75_roh_moveit_config)/config/rm75_roh.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find rm75_roh_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find rm75_roh_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find rm75_roh_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
